.header-content__profile-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: right;
    letter-spacing: 0.01em;
    color: #768298;
    padding: 0 10px 0 19px;
    margin: 0;
}