.header-content__container-input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    background: url(../../../images/search-input.png)left no-repeat;
    background-size: 24px 24px;
    background-position-x: 14px;
    padding-left: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #BBC4D6;
}

@media screen and (max-width: 375px) {
    .header-content__container-input {
        width: 325px;
    }
}