@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(./Roboto.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url(./Robotomedium.woff2) format('woff2');
}