.clients-container {
    width: 82%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

@media screen and (max-width: 768px) {
    .clients-container  {
        width: 96%;
    }
}

@media screen and (max-width: 768px) {
    .clients-container  {
        width: 90%;
    }
}