.clients-container__element {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 30px 30px 0;
}
.clients-container__element:hover {
    box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
}

.clients-container__element:nth-child(4n) {
    margin-right: 0;
}

.clients-container__element:last-child {
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .clients-container__element {
        width: 229px;
        margin: 0 20px 20px 0;
    }
    .clients-container__element:nth-child(3n) {
        margin-right: 0;
    }

    .clients-container__element:nth-child(4n) {
        margin-right: 20px;
    }
}

@media screen and (max-width: 375px) {
    .clients-container__element {
        width: 335px;
        height: 140px;
        margin: 0 0 20px 0;
    }
    .clients-container__element:last-child {
        margin-bottom: 73px;
    }
}